<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles.css">
    <script src="https://unpkg.com/vue@3"></script>
    <title>Vue js</title>
</head>
<body>
    <div id="app">
        <div class="nav-bar">
            <div class="cart">Cart ({{ cart }})</div>
            <div class="product-display">
                <div class="product-image">
                    <img v-bind:src="image" alt="">  <!--v-bind: dynamically bind an attribute to an exprssion-->
                </div>
                <div class="product-info">
                    <h1>{{ product }}</h1>
                    <p v-if="inventory > 10">In Stock</p>
                    <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out</p>
                    <p v-else>Out of Stock</p>
                    <ul>
                        <li v-for="detail in details">{{ detail }}</li>
                    </ul>
                    <div v-for="variant in variants" :key="variant.id" @mouseover="updateImage(variant.image)">{{ variant.color }}</div>
                    <button class="button" v-on:click="addToCart">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>

    <!--Import App-->
    <script src="main.js"></script>

    <!--Mount App-->
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>
</html>